@use '../theme.scss';

@include theme.journal-page {
    // in order to allow for full-width images, we remove margin from journals
    .journal-entry-pages {
        margin-left: 0;
        margin-right: 0;

        .scrollable {
            padding-right: 0;
        }

        // we then re-add the whitespace as padding (which CAN be overriden by it's children unlike margin)
        .journal-page-content, .journal-page-header {
            padding-left: theme.$journal-padding;
            padding-right: theme.$journal-padding;
        }
    }

    .sidebar {
        // If you want to style the sidebar, you can do it here.
        background: theme.$journal-sidebar-background;
        border-image-slice: 205 0 205 0 fill;
        border-image-width: 50px 0px 50px 0px;
        border-image-outset: 0px 0px 0px 0px;
        border-image-repeat: repeat repeat; 
        border-image-source: theme.asset('/layouts/sidebar-border.webp');
        padding: 50px 0;
        border-style: solid;
    }

    .window-header {
        color: theme.$text-light;
    }

    .journal-entry-content {
        background: theme.asset('/layouts/background.webp');

        .journal-header {
            display: none;
        }
    }
}