// utility classes that don't necessarily belong to a specific component.
@use './theme.scss';

@include theme.journal-page {
    .right {
        float: right;
    }

    .ar {
        font-family: 'Amiri';
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .max-w-1\/2 {
        max-width: 50%;
    }

    .full-width {
        width: calc(100% + 32px);
        margin-left: - theme.$journal-padding;
        margin-right: - theme.$journal-padding;
        max-width: none;
    }
}
